<!DOCTYPE html>
<html>
<head>
	<title>Swapi | Starwars Information Hub</title>
	<link rel="icon" type="image/png" href="/favicon.png"/>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div class="container">
	<div class="row">
		<h1>Name: <strong><%= name %></strong></h1>
		<h4>Height: <strong><%= height %></strong></h4>
		<h4>Mass: <strong><%= mass %></strong></h4>
		<h4>Hair Color: <strong><%= hair_color %></strong></h4>
	</div>
</div>

</body>
</html>